*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-self: center;
} 

.card{
    width: 80%;
    padding: 2.5%;
    display: flex;
    margin-top: 30%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    /* margin-left: 10%; */
    background-color: lightblue;
    
}

main{
    display: flex;
    align-self: center;
}

.card img{
    width: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: lightgray;
}

.card h1{ 
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.card h2{ 
    text-align: center;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.card p{ 
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}